*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;  
}
#root{
  height: 100%;
  width: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;

}
main .left, main .right {
  height: 100%;
 flex-basis: 50%;

}
main .right {
  height: 100%;
  width: 50%;
  background-color: rgb(28, 31, 31);
  border-radius: 0.7rem;
color: white;
overflow: auto;
padding: 10px;

}
main .left{
  background-color: rgb(18, 16, 16);
  border-radius: 0.7rem;
  position: relative;
}

main .left .review{
  position: absolute;
  background-color: rgb(236, 241, 249);
  color: rgb(11, 11, 11);
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.7rem;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

} 

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

left .code {
  
  background-color: rgb(18, 16, 16);
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;

}


